<HTML>
<head>
	
 <STYLE type="text/css">
 
  body 
 {
 font-family: "verdana, Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 text-align: left;
 font-size: 12px;
 }
 table
{
	font-family: "verdana, Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	padding:10px
}
th
{
	font-weight: bold;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
	white-space: nowrap;
	broder:1px
	padding:5px
}

td
{
	white-space: nowrap;
	padding: 5px
	broder:1px
}
tr
{
 background: #e8edff;
}

 </STYLE>
</head>
<Body>
<h3>#DATETIME#</h3>
<BR></Br>

<TABLE class='rounded-corner'>
<TH colspan='5'>Environment Status</TH>
<TR align='center'><TH>Applications</TH><TH>Validation Tests</TH><TH>DCORP</TH><TH>ICORP</TH><TH>ACORP</TH></TR>
<TR><TD>MyBaloiseWeb</TD><TD>URL Check</TD><TD align='center'>#DCORPMybaloiseWebURLTestStatus#</TD><TD align='center'>#ICORPMybaloiseWebURLTestStatus#</TD><TD align='center'>#ACORPMybaloiseWebURLTestStatus#</TD></TR>
<TR><TD>CentralDataStore</TD><TD>URL Check</TD><TD align='center'>#DCORPCentralDataStoreURLTestStatus#</TD><TD align='center'>#ICORPCentralDataStoreURLTestStatus#</TD><TD align='center'>#ACORPCentralDataStoreURLTestStatus#</TD></TR>
<TR><TD>CentralDataStore</TD><TD>Services Status</TD><TD align='center'>#DCORPCentralDataStoreWindowsServiceStatus#</TD><TD align='center'>#ICORPCentralDataStoreWindowsServiceStatus#</TD><TD align='center'>#ACORPCentralDataStoreWindowsServiceStatus#</TD></TR>
<TR><TD>Backend</TD><TD>URL Check</TD><TD align='center'>#DCORPBackendURLTestStatus#</TD><TD align='center'>#ICORPBackendURLTestStatus#</TD><TD align='center'>#ACORPBackendURLTestStatus#</TD></TR>
<TR><TD>Backend</TD><TD>Services Status</TD><TD align='center'>#DCORPBackendWindowsServiceStatus#</TD><TD align='center'>#ICORPBackendWindowsServiceStatus#</TD><TD align='center'>#ACORPBackendWindowsServiceStatus#</TD></TR>
<TR><TD>Cleva</TD><TD>URL Check</TD><TD align='center'>#DCORPBackendURLTestStatus#</TD><TD align='center'>#ICORPBackendURLTestStatus#</TD><TD align='center'>#ACORPBackendURLTestStatus#</TD></TR>
<TR><TD>Cleva</TD><TD>Client Check</TD><TD align='center'>#DCORPBackendClientCheckStatus#</TD><TD align='center'>#ICORPBackendClientCheckStatus#</TD><TD align='center'>#ACORPBackendClientCheckStatus#</TD></TR>
<TR><TD>Cleva</TD><TD>SOAPUI Tests</TD><TD align='center'>#DCORPBackendSOAPUITestStatus#</TD><TD align='center'>#ICORPBackendSOAPUITestStatus#</TD><TD align='center'>#ACORPBackendSOAPUITestStatus#</TD></TR>
<TR><TD>NINA</TD><TD >URL Check</TD><TD align='center'>#DCORPNINAURLTestStatus#</TD><TD align='center'>#ICORPNINAURLTestStatus#</TD><TD align='center'>#ACORPNINAURLTestStatus#</TD></TR>
<TR><TD>Mainframe</TD><TD>MF Check</TD><TD align='center'>#DCORPMainframeMFCheckStatus#</TD><TD align='center'>#ICORPMainframeMFCheckStatus#</TD><TD align='center'>#ACORPMainframeMFCheckStatus#</TD></TR>
<TR><TD>MyBaloiseClassic</TD><TD>URL Check</TD><TD align='center'>#DCORPMyBaloiseClassicURLTestStatus#</TD><TD align='center'>#ICORPMyBaloiseClassicURLTestStatus#</TD><TD align='center'>#ACORPMyBaloiseClassicURLTestStatus#</TD></TR>
<TR><TD>MyBaloiseClassic</TD><TD>Services Status</TD><TD align='center'>#DCORPMyBaloiseClassicWindowsServiceStatus#</TD><TD align='center'>#ICORPMyBaloiseClassicWindowsServiceStatus#</TD><TD align='center'>#ACORPMyBaloiseClassicWindowsServiceStatus#</TD></TR>
<TR><TD>MyBaloiseClassic</TD><TD>Client Check</TD><TD align='center'>#DCORPMyBaloiseClassicClientCheckStatus#</TD><TD align='center'>#ICORPMyBaloiseClassicClientCheckStatus#</TD><TD align='center'>#ACORPMyBaloiseClassicClientCheckStatus#</TD></TR>
<TR><TD>TALK</TD><TD>Client Check</TD><TD align='center'>#DCORPTALKClientCheckStatus#</TD><TD align='center'>#ICORPTALKClientCheckStatus#</TD><TD align='center'>#ACORPTALKClientCheckStatus#</TD></TR>
<TR><TD>EAI</TD><TD>Services Status</TD><TD align='center'>#DCORPEAIWindowsServiceStatus#</TD><TD align='center'>#ICORPEAIWindowsServiceStatus#</TD><TD align='center'>#ACORPEAIWindowsServiceStatus#</TD></TR>
<TR><TD>ESB</TD><TD>Services Status</TD><TD align='center'>#DCORPESBWindowsServiceStatus#</TD><TD align='center'>#ICORPESBWindowsServiceStatus#</TD><TD align='center'>#ACORPESBWindowsServiceStatus#</TD></TR>
</TABLE>

#EnvReport#
<BR><BR>
</Body>
</HTML>