<HTML>
<head>
 <STYLE type="text/css">

 body 
 {
 font-family: "verdana, Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 text-align: left;
 font-size: 12px;
 }
 table
{
	font-family: "verdana, Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	padding:10px
}
th
{
	font-weight: bold;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
	white-space: nowrap;
	broder:1px
	padding:5px
}

td
{
	white-space: nowrap;
	padding: 5px
	broder:1px
}
tr
{
 background: #e8edff;
}


 </STYLE>
</head>
<Body>
Dear Colleagues,
<BR><BR>
Please find the TOSCA tests execution Results
<BR><BR>
#SUMMARY#
<BR><BR>
#TESTINFO#
<BR><BR>
<i>Best Regards,</i>
<BR>
<b>ICT Build and Install Team</b><BR>
Baloise-Belgium
</Body>
</HTML>